@import "tailwindcss";

* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #000000;
}

.header {
  font-family: "Roboto Condensed", sans-serif;
}

.nav {
  margin-top: -65px;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 250px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
 cursor: default;
}
.links {
  display: flex;
  justify-content: center;
  gap: 300px;
   font-size: 15px;
  color: #fff;
  position: sticky;
   transition: all 0.3s ease;
   text-decoration: none;
}
.links button{
  border-width: 40px;
  border: grey solid 1px;
  background-color: transparent;
  color: #fff;
  border-radius: 12px;
  width: 80px;
  height: 30px;
}
.links button:hover {
  color: #FC8102;
}
.main-section{
  color: #fff;
  margin-left: 500px;
  margin-top: 170px;
}
.main-section span{
  font-size: 20px;
  margin-top: 100px;
}